@import "tailwindcss";
@import "tw-animate-css";
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');

body{
  font-family: "Ancizar Sans", sans-serif;
  font-optical-sizing: auto;
  
}
body::-webkit-scrollbar {
  display: none;
}